---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
// $base-font-family:   "Andika","menlo",monospace;
$base-font-family:   "Ubuntu","menlo",monospace;
$base-font-size:     18px;
$medium-font-size:   $base-font-size * 1.115;
$large-font-size:    $base-font-size * 1.125;
$xxl-font-size:      $large-font-size * 1.25;
$small-font-size:    15px;
$base-line-height:   1.5;

$spacing-unit:       30px;

$text-color:         #233;
// $text-color:         #111;

$background-color:   #fff;
$brand-color:        black;

$brand-color-light:  lighten($brand-color, 10%);

$grey-color:         #828282;
$grey-color-light:   lighten($grey-color, 40%);
$grey-color-dark:    darken($grey-color, 25%);
$title-color:        #424242;
$pcode-back-color:   #444;
$code-back-color:    #444;
$code-color:         #f0f0f0;
// $title-color:        rgb(119, 41, 83);
// $title-color:        $grey-color-dark;

$on-palm:            600px;
$on-laptop:          800px;



// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "toggle"
;
