/**
 * Site header
 */
.site-header {
    border-top: 5px solid transparent;
    border-bottom: 1px solid transparent;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-family: $title-font-family;
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
    &:hover {
        text-decoration: none !important;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $grey-color-dark;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    .trigger {
        clear: both;
        display: none;
    }


    @include media-query($on-laptop-2) {
        position: absolute;
        font-family: $title-font-family;
        font-size: 20px;
        top: 9px;
        right: 30px;
        background-color: $brand-color;
        border: 1px solid lighten($brand-color, 10%);
        border-radius: 5px;
        text-align: right;
        z-index: 1000;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit-sm 0;
}

.footer-heading {
    font-size: 18px;
    margin-top: 40px;
    margin-right: -10px;
    margin-bottom: $spacing-unit / 2;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
    float: right;

    li { float: left; }
}

.footer-col-1 {
    width: -webkit-calc(60% - (#{$spacing-unit} / 2));
    width:         calc(60% - (#{$spacing-unit} / 2));
    text-align: right;
}

.footer-col-2 {
    width: -webkit-calc(40% - (#{$spacing-unit} / 2));
    width:         calc(40% - (#{$spacing-unit} / 2));
    text-align: right;
}

// .footer-col-3 {
//     width: -webkit-calc(45% - (#{$spacing-unit} / 2));
//     width:         calc(45% - (#{$spacing-unit} / 2));
// }

@include media-query($on-laptop) {
    .footer-col-1 {
        width: -webkit-calc(55% - (#{$spacing-unit} / 2));
        width:         calc(55% - (#{$spacing-unit} / 2));
    }

    .footer-col-2 {
        width: -webkit-calc(45% - (#{$spacing-unit} / 2));
        width:         calc(45% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: right;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}


/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-family: $title-font-family;
    font-size: 32px;
}

.post-list {
    font-family: $title-font-family;
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-family: $title-font-family;
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-family: $title-font-family;
    font-size: 36px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.social-sidebar-wrapper {
    position: absolute;
    right: -60px;
    width: 40px;
}
.social-sidebar-content {
    position: fixed;
    width: 40px;
    bottom: 10em;
}
.sidebar-wrapper {
    position: absolute;
    left: -30px;
}
.sidebar-content {
    position: fixed;
    top: 12em;
}
.sidebar-list {
    font-family: $title-font-family;
    font-size: 26px;
    position: absolute;
    right: 0;
    margin: 0;
    padding: 0;
    float: right;
    text-align: right;
    list-style: none;

    a {
        color: $grey-color-dark;

        &.active { color: $brand-color; }

        &.active:hover, &:hover {
            color: lighten($brand-color, 10%);
            text-decoration: none;
        }

    }
}

.contact-list,
.social-media-list {
    position: absolute;
    right: 0;
    margin: 0;
    padding: 0;
    float: right;
    text-align: right;
    list-style: none;
}

@include media-query($on-laptop-2) {
    .sidebar-wrapper {
        display: none;
    }

    .social-sidebar-wrapper {
        position: relative;
        display: block;
        width: 100%;
        right: auto;
        -moz-transform: rotateX(180deg);
        -ms-transform: rotateX(180deg);
        -o-transform: rotate(180deg);
        -webkit-transform: rotateX(180deg);
        transform: rotateX(180deg);
    }

    .social-sidebar-content {
        position: relative;
        width: 100%;
        -moz-transform: rotateX(180deg);
        -ms-transform: rotateX(180deg);
        -o-transform: rotate(180deg);
        -webkit-transform: rotateX(180deg);
        transform: rotateX(180deg);
    }

    .social-media-list {
        bottom: 4em;
        right: 1em;
    }

    .social-media-list > li {
        display: inline;
    }
}

hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, transparent, #46433A, transparent);
    background-image: -moz-linear-gradient(left, transparent, #46433A, transparent);
    background-image: -ms-linear-gradient(left, transparent, #46433A, transparent);
    background-image: -o-linear-gradient(left, transparent, #46433A, transparent);
}