pre.toggable {
  .twister::after{
    content: #{attr(placeholder)} " ▲";
    color: black;
    background-color: #CFCFCF;
    display: inline-block;
    cursor: pointer;
    position: absolute;
    bottom: auto;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    font-size: 14px !important;
    border-radius: 0 0 5px 0;
    padding: 0 0.5em;
    text-shadow: none;
    z-index: 1000;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }

  &.twisted > .twister::after {
    content: #{attr(placeholder)} " ▼";
  }
}
